{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}ツール{% endblock title %}
{% block content %}

    {% include 'user/navi.html' %}
    {% include 'tools/navi/サブナビ.html' %}

    <h2>実践した正規表現</h2>
    <table class="table table-striped table-hover">
    <tr>
        <td>検索</td>
        <td>変換</td>
        <td>補足</td>
    </tr>
    <tr>
        <td>(\w)</td>
        <td>\l$1</td>
        <td>大文字を小文字に変換する</td>
    </tr>
    <tr>
        <td>(&lt;)([A-Z]+)(&gt;)|(&lt;/)([A-Z]+)(&gt;)</td>
        <td>$1\l$2$3$4\l$5$6</td>
        <td>タグ内に大文字がある！</td>
    </tr>
    <tr>
        <td>(&lt;)\n(.+)(&lt;)</td>
        <td>$1$2$3</td>
        <td>タグ要素内の改行を取り除く</td>
    </tr>
    <tr>
        <td>\s+</td>
        <td>無し</td>
        <td>空白を取り除く</td>
    </tr>
    </table>

    <script>

    </script>

{% endblock content %}



