{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}正規表現{% endblock title %}
{% block content %}

    {% include 'user/navi.html' %}
    {% include 'tools/navi/サブナビ.html' %}


    <h2 class="h2">正規表現に困ったら<a href="{% url 'Tool:tool_seiki_rireki' %}" class="btn btn-outline-primary">履歴</a></h2>
    <div class="row">
        <h3>○文字系</h3>
        <table class="table table-striped table-hover table-active">
           <tr>
              <td>記号</td>
              <td>意味</td>
           </tr>
           <tr>
              <td>.</td>
              <td>任意の1文字</td>
           </tr>
           <tr>
              <td>*</td>
              <td>直前の文字の0回以上の繰り返し</td>
           </tr>
           <tr>
              <td>+</td>
              <td>直前の文字の1回以上の繰り返し</td>
           </tr>
           <tr>
              <td>?</td>
              <td>直前の文字は省略可能</td>
           </tr>
           <tr>
              <td></td>
              <td>直前の文字の0回以上の繰り返し</td>
           </tr>
           <tr>
              <td>+?</td>
              <td>直前の文字の1回以上の繰り返し</td>
           </tr>
           <tr>
              <td>??</td>
              <td>直前の文字は省略可能</td>
           </tr>
           <tr>
              <td>[ ～ ]</td>
              <td>[ ]の中のどれか1文字</td>
           </tr>
           <tr>
              <td>[^ ～ ]</td>
              <td>[ ]の中に無い1文字</td>
           </tr>
           <tr>
              <td>( ～ | … )</td>
              <td>～か…かどっちか</td>
           </tr>
           <tr>
              <td>{n}</td>
              <td>直前の文字のn回の繰り返し</td>
           </tr>
           <tr>
              <td>{min,max}</td>
              <td>直前の文字のmin以上max以下の繰り返し（min、maxは省略可能）</td>
           </tr>
           <tr>
              <td>{min,max}?</td>
              <td>直前の文字のmin以上max以下の繰り返し（min、maxは省略可能）</td>
           </tr>
           <tr>
              <td>\w</td>
              <td>アルファベット、数字、アンダスコア（ _ ）のどれかの1文字</td>
           </tr>
           <tr>
              <td>\W</td>
              <td>アルファベット、数字、アンダスコア以外の1文字</td>
           </tr>
           <tr>
              <td>\d</td>
              <td>数字1文字</td>
           </tr>
           <tr>
              <td>\D</td>
              <td>数字以外の1文字</td>
           </tr>
           <tr>
              <td>\s</td>
              <td>半角スペース、タブ、改行のどれか1文字</td>
           </tr>
           <tr>
              <td>\S</td>
              <td>半角スペース、タブ、改行以外の1文字</td>
           </tr>
           <tr>
              <td>\n</td>
              <td>改行</td>
           </tr>
           <tr>
              <td>\t</td>
              <td>タブ</td>
           </tr>
           <tr>
              <td>\\</td>
              <td>\記号</td>
           </tr>
           <tr>
              <td>( ～ )</td>
              <td>( )内を1文字扱い</td>
           </tr>
        </table>
        <h3>○位置系</h3>
        <table class="table table-striped table-hover table-active">
           <tr>
              <td>記号</td>
              <td>意味</td>
           </tr>
           <tr>
              <td>^</td>
              <td>行の先頭</td>
           </tr>
           <tr>
              <td>$</td>
              <td>行の末尾</td>
           </tr>
           <tr>
              <td>\&lt;</td>
              <td>単語の先頭</td>
           </tr>
           <tr>
              <td>\&gt;</td>
              <td>単語の末尾</td>
           </tr>
           <tr>
              <td>\b</td>
              <td>単語の先頭か末尾</td>
           </tr>
           <tr>
              <td>\b</td>
              <td>単語の先頭、末尾以外</td>
           </tr>
           <tr>
              <td>\a</td>
              <td>ファイルの先頭</td>
           </tr>
           <tr>
              <td>\z</td>
              <td>ファイルの末尾</td>
           </tr>
           <tr>
              <td>\g</td>
              <td>直前の一致文字列の末尾</td>
           </tr>
        </table>
        <h3>○置換文字列で使える正規表現</h3>
        <table class="table table-striped table-hover table-active">
           <tr>
              <td>記号</td>
              <td>意味</td>
           </tr>
           <tr>
              <td>\0</td>
              <td>一致した文字列全体</td>
           </tr>
           <tr>
              <td>\1 \2 … \9</td>
              <td>それぞれ検索文字列の1～9番目の ( )に一致した文字列</td>
           </tr>
           <tr>
              <td>\l</td>
              <td>次の1文字を小文字にする</td>
           </tr>
           <tr>
              <td>\l ～ \e</td>
              <td>挟まれた文字列を小文字にする</td>
           </tr>
           <tr>
              <td>\u</td>
              <td>次の1文字を大文字にする</td>
           </tr>
           <tr>
              <td>\u ～ \e</td>
              <td>挟まれた文字列を大文字にする</td>
           </tr>
           <tr>
              <td>\n</td>
              <td>改行</td>
           </tr>
           <tr>
              <td>\t</td>
              <td>タブ</td>
           </tr>
           <tr>
              <td>\\</td>
              <td>\記号</td>
           </tr>
        </table>
    </div>
   
{% endblock content %}



