{% extends "FaceShoot/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}MySQLテスト{% endblock title %}

{% block content %}

    {# 戻る #}
    <a href="{% url 'FaceShoot:user_disp' %}" class="btn btn-primary btn-sm my-3">戻る</a>

    <table class="table table-striped table-bordered">
        <tr>
            <th>勤務ID</th>
            <th>学籍番号</th>
            <th>勤務開始</th>
            <th>勤務終了</th>
            <th>完了フラグ</th>
        </tr>
        {% for query in query_set %}
        <tr>
            {% for field,val in query.items %}
                <td>{{ val }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock content %}