{% extends "FaceShoot/base.html" %}

{% load bootstrap4 %}

{% block title %}ユーザー{% endblock title %}

{% block content %}
    <h4 class="mt-4 mb-5 border-bottom">ユーザーの追加</h4>
    {% if user_id %}
    <form action="{% url 'FaceShoot:user_mod' user_id=user_id %}" method="post">
    {% else %}
    <form action="{% url 'FaceShoot:user_add' %}" method="post">
    {% endif %}
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-primary">送信</button>
        </div>
      </div>
    </form>
    <a href="{% url 'FaceShoot:user_disp' %}" class="btn btn-secondary btn-sm">戻る</a>
{% endblock content %}