<style>
    .my-button {
        height: 100px;
        width: 150px;
        margin: 5px;
        padding: 30px;
    }
    .my-nav{
        float: left;
    }
</style>

<nav class="navbar navbar-expand-lg justify-content-start my-nav">
    <div class="collapse navbar-collapse sidebar-nav affix" role="complementary" id="Navber">
        <ul class="nav flex-column">
            <li><a href="{% url 'Tool:tool_top' %}" class="btn btn-outline-primary my-button">ツール</a></li>
            <li><a href="{% url 'Tool:tool_seikihyogen' %}" class="btn btn-outline-primary my-button">正規表現</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

</nav>
